* {box-sizing: border-box}



.container {
  padding: 3px;
  text-align: center;
}


.modal-content {
    background-color: #fefefe;
    margin: 3% auto 2% auto; 
    border: 1px solid #888;
    width: 500px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 0px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

header { background-color: #333; padding: 20px; }
nav { background-color: #333; overflow: hidden; }
nav ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
nav li { float: left; }
nav li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
nav li a:hover { background-color: #111; }
nav li span { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }